*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(14, 199, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.weather-box{
    padding: 7px;
    border: 5px rgb(0, 42, 181) solid;
    border-radius: 17px;
    align-self: center;
    align-items: center;
    min-height: 28vh;
    background-color: black;
    color: rgb(255, 179, 16);
    display: flex;
    flex-direction: column;
    width: 45vw;
}
#icon{
    width: 10vw;
    padding: 2px;
}
nav{
    display: flex;
    position: absolute;
    top: 5vh;
}
#city{
    border: black 2px solid;
    width: 35vw;
    border-radius: 10px;
    padding: 3px;
}
.elements{
    padding: 2px;
}
#submit{
    padding: 2px;
    margin: 2px;
    background-color: aqua;
    color: black;
    border: 1px yellow solid;
    border-radius: 3px;
}